/* You can add global styles to this file, and also import other style files */
@layer utilities {
  /* Entrance from left */
  .animate-slide-in-left {
    animation: slideInLeft 0.8s ease-out forwards;
  }

  /* Entrance from bottom */
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }

  /* Continuous Floating effect for the image */
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

/* Ensure sections have enough height to actually scroll between them */
section {
  min-height: 100vh;
}
